*{
    margin: 0;
    padding: 0;
}

img {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    margin: auto;
}

img {
    border: 1px solid black;
    margin: auto;

}

div#center{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}