main {
    margin-top: 70px;
    height: 100vh;
    width: 100vw;
    /* background-image: url('../imagens/6446d3e44f.webp'); 
    background-size: contain;*/
    display: flex;
    flex-direction: column;
    max-width: 500px;
}


body{
    background-color:dark;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    margin: 0 .5rem  ;
}

select{
    background-color: gray;
    border-radius: .5rem;
    width: 95%;
    height: 8vh;
    margin: 3px .5rem;
    text-align: center;
    justify-content: center;
    color: #ffff;
}

input{
    background-color: gray;
    margin:3px .5rem;
    border-radius: .5rem;
    border: solid black 1px;
    width: 95%;
    height: 8vh;
    text-align: left;
    padding-left: .5rem;
    
}

input::-webkit-input-placeholder {
    color: #ffff;
}

.botoes{
    width: 100vw;
    text-align: center;
    max-width: 500px;
}

button{
    background-color: lightgray;
    border: solid black 1px;
    width: 95%;
    margin: .7rem auto;
    height: 3rem;
    border-radius: .5rem;
}

div#res{
    width: 100vw;
    height: 100vh;
    padding: .1rem;
    background-color: rgb(0, 0, 0);
    color: #e01d1d;
}

div#plano-de-corte{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

table {
    width: 50%;
    border-collapse: collapse; /* Garante que as bordas das células não se dupliquem */
    margin-top: 2px; /* Adiciona espaço acima da tabela */
}
th, td {
    border: 1px solid #e01d1d; /* Define a cor e o estilo da borda */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #924141;
}

table{
    border-collapse: collapse;
}


  
  /* Estilo para telas maiores ou iguais a 600px de largura */
  @media only screen and (min-width: 500px) {
    
    body{
        display: flex;
       flex-direction: row;
    }
    
    main{
        margin-top: 10px;
    }

    div#res{
        width: calc(100vw - 520px);
        height: 100vh;
        background-color: rgb(0, 0, 0);
        padding: 2rem;
       
    }
    
    
    div#plano-de-corte{
        display: block;
        min-width: 500px;
        height: 100vh;
        background-color: aqua;
    }
}